In [46]:
import pandas as pd
import numpy as np

In [47]:
cris_data=pd.read_csv("cris-data-crash-all-imp-var.csv")
hospital_data=pd.read_csv("hospital_data_results_imp_var.csv")
cris_data["crash_id_hosp"]=str(0)
#cris_data["Drvr_Zip"].fillna(0,inplace=True)

In [48]:
cris_data["Prsn_Age"].isna().sum()

231

In [49]:
cris_data["Prsn_Age"].fillna(0,inplace=True)

In [50]:
cris_data["Prsn_Age"].isna().sum()

0

In [51]:
cris_data["Prsn_Ethnicity_ID"].isna().sum()

12

In [52]:
cris_data["Prsn_Ethnicity_ID"].fillna(0,inplace=True)

In [43]:
cris_data["Prsn_Ethnicity_ID"].isna().sum()

0

In [33]:
cris_data["Prsn_Gndr_ID"].isna().sum()

0

In [85]:
cris_data["Drvr_Zip"].isna().sum()

0

In [86]:
hospital_data["AGE"].isna().sum()

0

In [87]:
hospital_data["Gender"].isna().sum()

0

In [88]:
hospital_data["prsn_ethnicity_id"].isna().sum()

0

In [89]:
hospital_data["Arrival"].isna().sum()

0

In [90]:
hospital_data["Zip Code"].isna().sum()

0

In [60]:
cris_data.iloc[[1]]

,num_id,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Drvr_Zip,Crash_Date,Crash_Date1,Crash_Date2,Crash_Date3,Crash_Date4,Crash_Date5,Crash_Date6,crash_id_hosp
1,2,16336766,2,1,28.0,1.0,1,78751,4/2/2018,4/3/2018,4/4/2018,4/5/2018,4/6/2018,4/7/2018,4/8/2018,0

In [44]:
matches=0
for i in range(len(cris_data["Crash_ID"])):
    date=[str(cris_data["Crash_Date"][i]),str(cris_data["Crash_Date1"][i]),str(cris_data["Crash_Date2"][i]),str(cris_data["Crash_Date3"][i]),str(cris_data["Crash_Date4"][i]),str(cris_data["Crash_Date5"][i]),str(cris_data["Crash_Date6"][i])]
    age=[int(cris_data["Prsn_Age"][i])]
    counter=0
    for j in range(len(hospital_data["crash_id_hosp"])):
        if((str(hospital_data["Arrival"][j]) in date) and (int(hospital_data["Gender"][j])==int(cris_data["Prsn_Gndr_ID"][i])) and (int(hospital_data["AGE"][j]) in age)):#  and (int(hospital_data["prsn_ethnicity_id"][j])==int(cris_data["Prsn_Ethnicity_ID"][i]))): # and (int(hospital_data["AGE"][j])==int(cris_data["Prsn_Age"][i])) and (int(hospital_data["Zip Code"][j][:5])==int(cris_data["Drvr_Zip"][i]))
            if(counter==0):
                cris_data["crash_id_hosp"][i]=str(hospital_data["crash_id_hosp"][j])
                print("Found Match in "+str(cris_data["Crash_ID"][i])+" and "+str(hospital_data["crash_id_hosp"][j]))
                counter=counter+1
                matches=matches+1
            else:
                cris_data["crash_id_hosp"][i]=str(cris_data["crash_id_hosp"][i])+" "+str(hospital_data["crash_id_hosp"][j])
                print("Found another Match in "+str(cris_data["Crash_ID"][i])+" and "+str(hospital_data["crash_id_hosp"][j]))
                matches=matches+1
print(f"Matches found:{matches:.0f}")
print("Merging Complete")

C:\Users\R-Sahu\AppData\Local\Temp/ipykernel_23920/521969598.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cris_data["crash_id_hosp"][i]=str(hospital_data["crash_id_hosp"][j])

Found Match in 16564134 and 5
Found Match in 16568559 and 6
Found Match in 16607264 and 6
Found Match in 16663022 and 17
Found Match in 16663022 and 14
Found Match in 16670536 and 18
Found Match in 16675280 and 17
Found Match in 16675303 and 16
Found Match in 16688587 and 18
Found Match in 16703700 and 29
Found Match in 16707190 and 30
Found Match in 16708146 and 30
Found Match in 16716061 and 30
Found Match in 16750594 and 40
Found Match in 16786738 and 49
Found Match in 16797319 and 49
Found Match in 16814701 and 50
Found Match in 16871254 and 60
Found Match in 16876500 and 61
Found Match in 16906810 and 65
Found Match in 16906987 and 65
Found Match in 16946178 and 74
Found Match in 16950088 and 74
Found Match in 16992161 and 80
Found Match in 17001223 and 88
Found Match in 17017159 and 86
Found Match in 17038764 and 96
Found Match in 17038764 and 96
Found Match in 17052210 and 87
Found Match in 17067928 and 98
Found Match in 17092301 and 105
Found Match in 17098390 and 104
Found Match in 17132129 and 112
Found Match in 17193485 and 118
Found Match in 17210671 and 120
Found Match in 17241428 and 124
Found Match in 17244494 and 124
Found Match in 17248266 and 121
Found Match in 17253867 and 125
Found Match in 17254221 and 125
Found Match in 17283476 and 128
Found Match in 17283476 and 130
Found Match in 17290529 and 129
Found Match in 17307369 and 135
Found Match in 17307372 and 136
Found Match in 17309088 and 135
Found Match in 17316284 and 137
Found Match in 17316825 and 137
Found Match in 17318102 and 142
Found Match in 17330293 and 141
Found Match in 17337327 and 146
Found Match in 17337327 and 145
Found Match in 17351327 and 150
Found Match in 17364375 and 142
Found Match in 17385170 and 157
Found Match in 17403319 and 159
Found Match in 17403377 and 159
Found Match in 17403379 and 159
Found Match in 17460470 and 166
Found Match in 17487701 and 170
Found Match in 17534712 and 174
Found Match in 17626326 and 187
Found Match in 17693417 and 191
Found Match in 17715421 and 192
Found Match in 17726597 and 195
Found Match in 17786935 and 203
Found Match in 17838207 and 206
Found Match in 17862338 and 214
Found Match in 17862338 and 214
Found Match in 17937053 and 212
Found Match in 17937197 and 222
Found Match in 17946306 and 218
Found Match in 17959913 and 223
Found Match in 18079520 and 227
Found Match in 18136762 and 232
Found Match in 18161679 and 235
Matches found:76
Merging Complete

In [45]:
cris_data.to_csv("cris-data-results-all-date7andgenderandage.csv")